.add-task {
  text-align: center;
  margin: 40px 0;
  input {
    width: 70%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #0985e385;
  }
  button {
    height: 36px;
    width: 50px;
    color: #fff;
    background-color: #0984e3;
    border: none;
  }

}
